<%
    var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var title = '';
    if (page.category) title = 'filed under: ' + page.category;
    if (page.tag) title = 'posts tagged: ' + page.tag;
    if (page.archive){
        if (page.year) title = (page.month ? months[page.month-1] + ' ' : '') + page.year;
        if (title.length) title += " archives";
        else title = "archives";
    }

%>


<div class="post">
    <div class="post-header">
        <div class="title">
            <h1><%- title %></h1>
        </div>
        <div class="info"></div>
    </div>
    <div class="post-body">
        <div class="archives-list">
            <% page.posts.each(function(post){ %>
            <div class="archive">
                <div class="archive-date"><%= date(post.date, 'MMM D YYYY') %></div>
                <a class="archive-link" href="<%- config.root %><%- post.path %>"><%- post.title %></a>
            </div>
            <% }); %>
        </div>
    </div>
        
</div>

