<html>
    <%- partial('_partial/head') %>
    <body>
        <%- partial('_partial/header') %>
        <main class="content">
            <%- body %>
            <%- partial('_partial/slider') %>
        </main>
        <%- partial('_partial/stats') %>
    </body>
</html>